.loading-root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    .ant-spin-dot-holder {
      height: 3rem;
      width: 3rem;

      .ant-spin-dot {
        height: 5rem;
        width: 5rem;

        i {
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }
}