
.login-form-root {
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .button {
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
  }
}